@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  image-rendering: pixelated;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #000;
}

canvas {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}
